body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    flex: unset;
    width: 100%;
  }

  .left {
    padding: 20px;
  }

  .right {
    padding: 30px 20px;
  }
}

.left {
  flex: 1;
  background-color: #3c1df3;
  display: center;
  justify-content: center;
  align-items: center;
}

.left img {
  width: 80%;
  max-width: 350px;
}

.right {
  flex: 1;
  background: #ffffff;
  padding: 40px 60px;
  display: center;
  flex-direction: column;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 14px;
  margin-bottom: 40px;
 padding-bottom: 170px;
 margin: 12px auto;    
 margin-left: 12%;    
 width: 60%;       

}

.nav a {
  color: #333;
}

.login-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 35px;
  text-align: flex-start;
  margin: 12px auto;        
  width: 60%;       
  margin: 12px auto;        
  width: 60%;       
  
}

.gradient-button {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  border: none;
  color: white;
  padding: 12px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;

  width: 60%;         
  margin: 16px auto;  
  display: block;      
  text-align: center;
}
.forgot-link {
  display: block;           
  color: #2575fc;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.3s ease;
  text-decoration: none;
  text-align: center;
  margin: 12px auto;
  width: 60%;
}

.forgot-link:hover {
  color: #6a11cb;
  text-decoration: underline;
}

.welcome-text {
  font-size: 0.9rem;
  color: #666;
  margin-top: -10px;
  margin-bottom: 20px;
}

.gradient-button:hover {
  opacity: 0.9;
  margin: 12px auto;        
  width: 60%;       
}

.link-text {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.link-text a {
  color: #2575fc;
  font-weight: 600;
  margin: 12px auto;        
  width: 60%;       
}
.input {
  display: flex;
  align-items: center;
  height: 48px;
  border: 2px solid #4c6ef5 !important;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  transition: all 0.2s ease;

  margin: 12px auto;         
  width: 60%;                
}


.input:focus {
  border-color: #3b5bdb;
  box-shadow: 0 0 0 2px rgba(76, 110, 245, 0.2);
}